body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

form {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    position: relative;
}

input[type="text"] {
    padding: 8px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 14px;
}

button {
    padding: 10px;
    border: none;
    background-color: #007BFF;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.loading-message {
    display: none;
    background-color: #333;
    color: #fff;
    padding: 15px;
    border-radius: 5px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10px;
    z-index: 10;
}

.message {
    color: red;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

.full-size-container {
    width: 100%;
    overflow-x: auto; /* Adds horizontal scrollbar if the table is too wide */
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: auto; /* Ensure that the table layout adapts to content */
}

th, td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
    white-space: nowrap; /* Prevents text from wrapping */
}

th {
    background-color: #007BFF;
    color: white;
}

td {
    background-color: #f9f9f9;
    max-width: none; /* Allow the content to dictate cell width */
}




.time-display {
    text-align: center;
    margin-bottom: 20px;
}

select {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    margin-bottom: 20px;
    cursor: pointer;

    padding: 8px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 14px;

}



/* Adjust for smaller screens */
@media screen and (max-width: 768px) {
    td, th {
        white-space: normal; /* Allow wrapping on smaller screens */
        word-wrap: break-word;
    }
}
